Package: jp.r-plus.actionmenumaps
Name: Maps MenuSupport Plugin
Depends: jp.r-plus.menusupport
Version: 0.0.1
Architecture: iphoneos-arm
Description: Maps MenuSupport Plugin
Maintainer: r_plus
Author: r_plus
Section: App Addons
dev: rplus
